
.collection {
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}
.NEEDScollections {
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}


.AddQuarter {
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}