.collection {
    /* display: flex; */

    border: 2px solid black;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
}

.card {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    justify-items: center;
    text-align: center;
}

.QDetail {
    display: flex;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}